/* I can add in different fonts later on here using
@import url('')   */

body {
  background-image: url(Images/seagull-hills.jpg);
  font-family: sans-serif;
}

.headingContainer {
  overflow: hidden;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.headingText {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.50);
  color: black;
  opacity: 0.5;
}

img{
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  width: 710px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.50);
  padding: 0px 10px;
  padding-top: 18px;
  opacity: 0.5
}

.navigation li {
  display: block;
  float: left;
  font-family: sans-serif;
  padding: 10px;
  border-right: 1px solid #D4b364;
  font-size: 1.25rem;
}

.navigation li:last-child {
  border-right: none;
}
