/* I can add in different fonts later on here using
@import url('')   */

body {
  background-image: url(Images/seagull-hills.jpg);
  font-family: sans-serif;
}

.headingContainer {
  overflow: hidden;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-bottom; 6px solid #4b4e61;
}

.navigation {
  max-width: 9500px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 10px

}

.navigation li {
  display: block;
  float: left;
  padding: 10 20;
  border-right: 1px solid #D4b364;
}
